.margin-top {
    margin-top: 15px;
}

#game-db div {
    display: inline-block;
    margin-right: 10px;
}

#game-db div img {
    width: 90px;
    height: 90px;
}

#game-selection div {
    display: inline-block;
    margin-right: 10px;
}

#game-selection div img {
    width: 45px;
    height: 45px;
}

#game-selected-header img {
    width: 45px;
    height: 45px;
}

.align-text-center {
    text-align: center
}

.red {
    background-color: #f2dede;
}

.blue {
    background-color: #d9edf7;
}

.green {
    background-color: #dff0d8;
}

.small-row {
    height: 75px;
}

.medium-row {
    height: 400px;
}

.big-row {
    height: 800px;
}
