body {
    overflow:hidden;
}

.margin-top {
    margin-top: 15px;
}

#game-db div {
    display: inline-block;
    margin-right: 10px;
}

#game-db div img {
    width: 90px;
    height: 90px;
}

#game-selection div {
    display: inline-block;
    margin-right: 10px;
}

#game-selection div img {
    width: 45px;
    height: 45px;
}

#game-selected-header img {
    width: 45px;
    height: 45px;
}

.icon-holding img {
    width: 175px;
    height: 175px;
}

.align-text-center {
    text-align: center
}

.red {
    background-color: #f2dede;
}

.blue {
    background-color: #d9edf7;
}

.green {
    background-color: #dff0d8;
}

.small-row {
    height: 75px;
}

.medium-row {
    height: 400px;
}

.big-row {
    height: 800px;
}


.line_chart svg {
    width: 575px;
    height: 329px;
    
}

/* Game Inspection */
.panel-heading {
    font-weight: bold;
}

#game-selected-header span {
   font-weight: bold;
}

/* Selection Zone */
.selection-icon {
    border: 3px;
    border-style: solid;
}
